// ALL_MEDIA

@media (max-width: 1130px) {
    .reproduct_block-active {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }
}

@media (max-width: 900px) {
    .main_heading {
        font-size: 40px;
        line-height: 40px;
    }

    .main_button {
        margin-top: 40px;
    }

    .reproduct_block_full {
        max-width: 330px;
        max-height: 730px;
    }

    .reproduct_btn {
        width: 290px;
        height: 65px;
    }

    .phone {
        font-size: 18px;
        line-height: 20px;
    }

    .footer_social_icon {
        display: flex;
        gap: 30px;
    }
}

@media (max-width: 767px) {
    .container {
        padding: 0 40px;
    }

    .header {
        display: flex;
        flex-direction: column;
        padding: 16px 0;
    }

    .nav_list {
        border-top: 1px solid $nav-border;
        padding-top: 16px;
        margin-top: 16px;
    }

    .nav_item:nth-child(4) {
        margin-right: 53px;
    }

    .nav_link {
        font-size: 18px;
    }

    .main_heading {
        font-size: 36px;
        line-height: 36px;
    }

    .main_subtitle {
        font-size: 16px;
        line-height: 24px;
        margin-top: 10px;
    }

    .main_button {
        margin-top: 10px;
        font-size: 18px;
        line-height: 21px;
    }

    .reproduct_top {
        align-items: baseline;
        flex-direction: column;
        justify-content: left;
        text-align: left;
    }

    .reproduct_text {
        font-size: 30px;
        line-height: 33px;
    }

    .reproduct_block_full {
        max-width: 240px;
        max-height: 530px;
    }

    .reproduct_author {
        padding-top: 15px;
        font-size: 18px;
        line-height: 19px;
    }
    
    .reproduct_name {
        font-size: 24px;
        line-height: 28px;
    }
    
    .reproduct_lithography {
        padding-top: 10px;
        font-size: 21px;
        line-height: 19px;
    }
    
    .reproduct_price {
        font-size: 20px;
        line-height: 24px;
    }

    .reproduct_btn {
        margin-top: 10px;
        width: 290px;
        height: 65px;
        font-size: 18px;
        line-height: 21px;
    }

    .reproduct_btn_swipe {
        margin-top: 30px;
        gap: 5px 10px;
        flex-wrap: wrap;
    }

    .reproduct_btn {
        width: 200px;
        height: 50px;
        font-size: 18px;
        line-height: 21px;
    }

    .col_logo {
        max-width: 60px;
        max-height: 60px;
    }
    
    .col_title {
        font-size: 30px;
        line-height: 30px;
    }

    .col_subtitle {
        margin-top: 30px;
        max-width: 665px;
    }
    
    .col_text {
        margin-top: 30px;
        max-width: 665px;
    }
    
    .col_link {
        margin-top: 30px;
        padding: 18.5px 36.5px;
    }



    
    .command {  
        flex-direction: column;
        align-items: baseline;
        text-align: left;
        gap: 30px;
        padding: 0 29px;
    }
    
    .command_img {
        max-width: 510px;
        max-height: 510px;
    }
    
    .command_right {
        max-width: 690px;
        width: 100%;
    }
    
    .command_title {
        font-size: 30px;
        line-height: 33px;
    }
    
    .command_subtitle {
        padding-top: 30px;
    }
    
    .command_people_image {
        padding-top: 30px;
    }


    .footer {
        flex-direction: column;
    }

    .footer_logo_number {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        margin-bottom: 30px;
        max-width: none;
    }

    .number {
        padding-top: 0;
    }

    .footer_nav_list {
        display: flex;
        gap: 36px;
    }
}

@media (max-width: 575px) {
    .container {
        max-width: 1130px;
        padding: 0 30px;
        margin: 0 auto;
    }
    
    .header_section {
        background: transparent;
    }

    .header {
        justify-content: space-between;
    }

    .nav_item:not(:nth-child(5)) {
        display: none;
    }

    .nav_list {
        position: absolute;
        display: flex;
        justify-content: space-between;
        border: none;
        gap: 0px;
        background: $main;
        width: 100%;
        height: 68px;
        align-items: center;
        text-align: center;
        padding: 0 15px;
        transform: translateY(36px);
        z-index: 3;
    }

    .nav_list-active {
        transform: translateY(-36px);
        height: 140px;
        align-items: flex-end;
        padding-bottom: 25px;
        margin-right: 8px;
    }

    .nav_list_mobile {
        transform: translateX(-100%);
        transition: transform .3s ease-in-out;
    }

    .nav_list_mobile-active {
        content: "";
        position: absolute;
        background: $main;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        padding: 15px;
        padding-top: 200px;
        gap: 30px 0;
        transform: none;
        margin-right: 10px;
        overflow-y: auto;
        z-index: 2;
    }

    .nav_list_mobile-active .nav_item {
        display: block;
    }

    .nav_item:nth-child(1) {
        display: block;
    }

    .nav_list .nav_item:nth-child(5) {
        padding-left: 0px;
    }

    .main {
        margin-top: 80px;
    }

    .main_left {
        display: none;
    }

    .main_right {
        margin-top: 60px;
        align-items: center;
        text-align: left;
        padding: 0 15px;
    }

    .main_heading {
        font-size: 36px;
        line-height: 36px;
    }

    .main_subtitle {
        font-size: 16px;
        line-height: 24px;
        margin-top: 20px;
    }

    .main_button {
        margin-top: 40px;
        font-size: 18px;
        line-height: 21px;
    }

    .reproduct_top {
        padding-left: 10px;
    }

    .reproduct_text {
        font-size: 24px;
        line-height: 26px;
    }

    .collection_section {
        padding: 0 10px;
        margin-top: 70px;
        background-repeat: no-repeat;
        background-position: right top;
        background-size: auto;
    }

    .collection {
        padding: 50px 0;
    }

    .col_logo {
        max-width: 50px;
        max-height: 50px;
    }
    
    .col_title {
        font-size: 24px;
        line-height: 24px;
    }

    .col_subtitle {
        margin-top: 20px;
        font-size: 16px;
        line-height: 22px;
        max-width: 665px;
    }
    
    .col_text {
        margin-top: 30px;
        margin-top: 20px;
        font-size: 16px;
        max-width: 510px;
    }
    
    .col_link {
        margin-top: 20px;
        padding: 14.5px 35px;
    }



    .command_section {
        padding: 50px 0;
    }
    
    .command_img {
        max-width: 290px;
        max-height: 375px;
    }
    
    .command_right {
        max-width: 510px;
    }
    
    .command_title {
        padding-top: 30px;
        font-size: 24px;
        line-height: 26px;
    }
    
    .command_subtitle {
        padding-top: 20px;
        font-size: 16px;
        line-height: 22px;
    }
    
    .command_people_image {
        padding-top: 20px;
    }

    
    .footer_social_icon {
        display: inline-flex;
    }

    .footer_social {
        border-top: 1px solid $nav-border;
        max-width: 1130px;
        width: 100%;
        padding: 16px 30px;
        margin: 0 auto;
        text-align: center;
        margin-top: 16px;
    }

    .footer_social_text {
        display: flex;
        text-align: center;
        justify-content: center;
    }

    .footer_social_reserved {
        align-items: center;
        text-align: center;
        padding: 0;
    }

    .footer_nav_social {
        flex-direction: column;
    }


}

@media (max-width: 420px) {
    .container {
        padding: 0 15px;
    }

    .command_section {
        padding: 60px 0;
    }
    
    .command_right {
        max-width: 290px;
    }

    .command_img {
        max-width: 270px;
        max-height: 270px;
    }


    .footer_logo_number {
        flex-direction: column;
    }

    .number {
        margin-top: 20px;
        display: block;
    }

    .footer_nav_list {
        flex-wrap: wrap;
    }
}

@media (max-width: 420px) {
    .footer_logo_number {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .number {
      padding-top: 0;
    }
  
    .footer_nav_social {
      flex-direction: column;
    }

    .command_people_image {
        flex-wrap: wrap;
    }
}
  

@media (max-width: 320px) {
    .collection {
        padding: 30px 0;
    }

    .col_subtitle {
        font-size: 14px;
        line-height: 20px;
        max-width: 290px;
    }
    
    .col_text {
        margin-top: 20px;
        font-size: 14px;
        line-height: 20px;
        max-width: 290px;
    }
    
    .col_link {
        margin-top: 20px;
        width: 100%;
        font-size: 18px;
        line-height: 21px;
        text-align: center;
    }



    .command_img {
        width:100%;
        object-fit:cover;
    }
}

@media (max-width: 255px) {
    .main_button {
        max-width: 225px;
        width: 100%;
        height: 40px;
    }
}

@media (max-width: 200px) {
    body {
        position: fixed;
        overflow: scroll;
    }
}

// ALL_MEDIA