$main: #E1EDE6;
$main-light: #F4F6F5;
$base: #598D66;
$swipe-btn: #376B44;
$main-text: #2C2D35;
$non-prominent-text: #86928B;
$nav-border: #C3D1C6;
$collection-btn: #EEDB6D;

body {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 500;
}

.scroll-active {
    overflow: hidden;
}


// HEADER

.header_section {
    background: $main;
}

.container {
    max-width: 1130px;
    padding: 0 10px;
    margin: 0 auto;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 33px 0;
}

.logo {
    display: flex;
    align-items: center;
    gap: 8px;
}

.logo_img {
    max-width: 35px;
    max-height: 35px;
    width: 100%;
    height: 100%;
}

.logo_text {
    font-size: 20px;
    font-weight: 700;
    line-height: 23px;
    color: $base;
}

.nav_list {
    display: flex;
    align-items: center;
    gap: 60px;
}

#reproduct_text {
    transition: all .3s ease;
}

.nav_list_mobile {
    display: none;
}

.nav_item:nth-child(1) {
    display: none;
    z-index: 3;
}

.mobile_menu {
    position: relative;
    width: 22px;
    height: 18px;
}

.mobile_menu span {
    content: "";
    position: absolute;
    transform: translate(-50% -50%);
    top: 8px;
    left: 0;
    background: $main-text;
    width: 100%;
    height: 2px;
    border-radius: 1px;
    transition: all .3s ease;
}

.mobile_menu::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background: $main-text;
    width: 100%;
    height: 2px;
    border-radius: 1px;
    transition: all .3s ease;
}

.mobile_menu::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    background: $main-text;
    width: 100%;
    height: 2px;
    border-radius: 1px;
    transition: all .3s ease;
}

.mobile_menu-active span {
    opacity: 0;
}

.mobile_menu-active::after {
    top: 8px;
    transform: rotate(45deg);
}

.mobile_menu-active::before {
    bottom: 8px;
    transform: rotate(-45deg);
}

.nav_link {
    font-size: 20px;
    font-weight: 500;
    line-height: 23px;
    color: $main-text;
    transition: color .3s ease;
}

.nav_link:hover {
    color: $base;
}

.cart-active {
    display: none;
}
.cart path {
    transition: stroke .3s ease;
}
.cart:hover path {
    stroke: $base;
}

// HEADER


// MAIN_SECTION

.main {
    display: flex;
    align-items: center;
    gap: 30px;
}
.main_heading {
    font-size: 60px;
    font-weight: 500;
    line-height: 66px;
    color: $main-text;
}
.main_heading span {
    color: $base;
}
.main_subtitle {
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
    margin-top: 20px;
    color: $non-prominent-text;
}
.main_button {
    margin-top: 60px;
    display: flex;
    width: 225px;
    height: 65px;
    border: 1px solid $base;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: 500;
    line-height: 23px;
    color: $base;
    transition: all .3s ease;
}

.main_button:hover {
    color: $main-light;
    background: $base;
}

// MAIN_SECTION


// REPRODUCT_CONTENT

.reproduct_section {
    margin-top: 70px;
}

.reproduct_top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.reproduct_text {
    font-size: 40px;
    font-weight: 500;
    line-height: 44px;
    color: $main-text;
}

.reproduct_btn_swipe {
    display: flex;
    gap: 0 30px;
}

.reproduct_button {
    padding: 10px 20px;
    background: $main;
    border-radius: 20px;
    color: $main-text;
    font-size: 20px;
    font-weight: 500;
    line-height: 23px;
    transition: all .3s ease;
}

.reproduct_button:hover:not(.reproduct_button-active) {
    background: $base;
}

.reproduct_button-active {
    background: $swipe-btn;
    color: $main-light;
}

.reproduct_block {
    display: none;
    gap: 30px;
}

.reproduct_block-active {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.reproduct_block_full {
    background: $main;
    display: block;
    max-width: 350px;
    max-height: 730px;
    align-items: center;
    text-align: left;
    justify-content: center;
    padding: 20px;
    padding-bottom: 30px;
}

.reproduct_img {
    
}

.reproduct_author {
    padding-top: 20px;
    font-size: 18px;
    font-weight: 500;
    line-height: 21px;
    color: $non-prominent-text;
}

.reproduct_name {
    padding-top: 10px;
    font-size: 30px;
    font-weight: 500;
    line-height: 35px;
    color: $main-text;
}

.reproduct_lithography {
    padding-top: 8px;
    font-size: 18px;
    font-weight: 500;
    line-height: 21px;
    color: $main-text;
}

.reproduct_price {
    padding-top: 10px;
    font-size: 24px;
    font-weight: 500;
    line-height: 28px;
    color: $base;
}

.reproduct_btn {
    width: 310px;
    height: 65px;
    border: 1px solid $base;
    font-size: 20px;
    font-weight: 500;
    line-height: 23px;
    color: $base;
}

.reproduct_content {
    margin-top: 30px;
}



// REPRODUCT_CONTENT

// COLLECTION_CONTENT

.collection_section {
    background-image: url(/img/collection/back.jpg);
    margin-top: 70px;
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    
}

.collection {
    padding: 70px 0;
}

.col_logo_title {
    display: flex;
    gap: 20px;
}

.col_logo {
    max-width: 80px;
    max-height: 80px;
    width: 100%;
    height: 100%;
}

.col_title {
    font-size: 40px;
    font-weight: 500;
    line-height: 40px;
    color: $main-light;
}

.col_subtitle {
    margin-top: 20px;
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
    color: $main-light;
    max-width: 560px;
}

.col_text {
    margin-top: 20px;
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
    color: $main-light;
    max-width: 560px;
}

.col_link {
    display: inline-block;
    margin-top: 60px;
    font-size: 20px;
    font-weight: 500;
    line-height: 23px;
    color: $main-text;
    background: $collection-btn;
    padding: 21px 60px;
}

// COLLECTION_CONTENT



@media (max-width: 1130px) {
    .reproduct_block-active {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }
}

@media (max-width: 900px) {
    .main_heading {
        font-size: 40px;
        line-height: 40px;
    }

    .main_subtitle {

    }

    .main_button {
        margin-top: 40px;
    }

    .reproduct_block_full {
        max-width: 330px;
        max-height: 730px;
    }

    .reproduct_btn {
        width: 290px;
        height: 65px;
    }
}

@media (max-width: 767px) {
    .header {
        display: flex;
        flex-direction: column;
        padding: 16px 0;
    }

    .nav_list {
        border-top: 1px solid $nav-border;
        padding-top: 16px;
    }
    .nav_list .nav_item:nth-child(5) {
        padding-left: 64px;
    }

    .nav_link {
        font-size: 18px;
    }
    
    .logo {
        padding-bottom: 16px;
    }

    .main_heading {
        font-size: 36px;
        line-height: 36px;
    }

    .main_subtitle {
        font-size: 16px;
        line-height: 24px;
        margin-top: 10px;
    }

    .main_button {
        margin-top: 10px;
        font-size: 18px;
        line-height: 21px;
    }

    .reproduct_top {
        align-items: baseline;
        flex-direction: column;
        justify-content: left;
        text-align: left;
    }

    .reproduct_text {
        font-size: 30px;
        line-height: 33px;
    }

    .reproduct_block_full {
        max-width: 240px;
        max-height: 530px;
    }

    .reproduct_author {
        padding-top: 15px;
        font-size: 18px;
        line-height: 19px;
    }
    
    .reproduct_name {
        font-size: 24px;
        line-height: 28px;
    }
    
    .reproduct_lithography {
        padding-top: 10px;
        font-size: 21px;
        line-height: 19px;
    }
    
    .reproduct_price {
        font-size: 20px;
        line-height: 24px;
    }

    .reproduct_btn {
        margin-top: 10px;
        width: 290px;
        height: 65px;
        font-size: 18px;
        line-height: 21px;
    }

    .reproduct_btn_swipe {
        margin-top: 30px;
        gap: 5px 10px;
        flex-wrap: wrap;
    }

    .reproduct_btn {
        width: 200px;
        height: 50px;
        font-size: 18px;
        line-height: 21px;
    }

    .col_logo {
        max-width: 60px;
        max-height: 60px;
    }
    
    .col_title {
        font-size: 30px;
        line-height: 30px;
    }

    .col_subtitle {
        margin-top: 30px;
        max-width: 665px;
    }
    
    .col_text {
        margin-top: 30px;
        max-width: 665px;
    }
    
    .col_link {
        margin-top: 30px;
        padding: 18.5px 36.5px;
    }
}

@media (max-width: 575px) {
    .container {
        max-width: 1130px;
        padding: 0 0px;
        margin: 0 auto;
    }
    
    .header_section {
        background: transparent;
    }

    .header {
        justify-content: space-between;
    }

    .nav_item:not(:nth-child(5)) {
        display: none;
    }

    .nav_list {
        display: flex;
        justify-content: space-between;
        border: none;
        gap: 0px;
        background: $main;
        width: 100%;
        height: 68px;
        align-items: center;
        text-align: center;
        padding: 0 15px;
    }

    .nav_list_mobile {
        transform: translateX(-100%);
        transition: transform .3s ease-in-out;
    }

    .nav_list_mobile-active {
        content: "";
        position: absolute;
        background: $main;
        top: 135px;
        left: 0;
        right: 0;
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        padding: 15px;
        gap: 50px 0;
        transform: none;
        overflow: auto;
    }

    .nav_list_mobile-active .nav_item {
        display: block;
    }

    .nav_item:nth-child(1) {
        display: block;
    }

    .nav_list .nav_item:nth-child(5) {
        padding-left: 0px;
    }


    .main_left {
        display: none;
    }

    .main_right {
        margin-top: 60px;
        align-items: center;
        text-align: left;
        padding: 0 15px;
    }

    .main_heading {
        font-size: 36px;
        line-height: 36px;
    }

    .main_subtitle {
        font-size: 16px;
        line-height: 24px;
        margin-top: 20px;
    }

    .main_button {
        margin-top: 40px;
        font-size: 18px;
        line-height: 21px;
    }

    .reproduct_top {
        padding-left: 10px;
    }

    .reproduct_text {
        font-size: 24px;
        line-height: 26px;
    }


    .collection_section {
        padding: 0 10px;
        background-image: url(/img/collection/back.jpg);
        margin-top: 70px;
        background-repeat: no-repeat;
        background-position: right top;
        background-size: auto;
    }

    .collection {
        padding: 50px 0;
    }

    .col_logo {
        max-width: 50px;
        max-height: 50px;
    }
    
    .col_title {
        font-size: 24px;
        line-height: 24px;
    }

    .col_subtitle {
        margin-top: 20px;
        font-size: 16px;
        line-height: 22px;
        max-width: 665px;
    }
    
    .col_text {
        margin-top: 30px;
        margin-top: 20px;
        font-size: 16px;
        max-width: 510px;
    }
    
    .col_link {
        margin-top: 20px;
        padding: 14.5px 35px;
    }
}

@media (max-width: 320px) {
    .collection {
        padding: 30px 0;
    }

    .col_subtitle {
        font-size: 14px;
        line-height: 20px;
        max-width: 290px;
    }
    
    .col_text {
        margin-top: 20px;
        font-size: 14px;
        line-height: 20px;
        max-width: 290px;
    }
    
    .col_link {
        margin-top: 20px;
        width: 100%;
        font-size: 18px;
        line-height: 21px;
        text-align: center;
    }
}

@media (max-width: 255px) {
    .main_button {
        max-width: 225px;
        width: 100%;
        height: 40px;
    }
}

@media (max-width: 110px) {
    body {
        position: fixed;
        overflow: scroll;
    }
}